# Telegram Bot Token
TELEGRAM_BOT_TOKEN=8693151673:AAE-o07tC0pXeqrn4PaQBQ8C9ip0lTp6uMk

# Gemini API Key
GEMINI_API_KEY=AIzaSyBfwqMJ3TJkMw01e6JKMGmpPfPhx31bQyc

# MySQL Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=bot_tele_db
DB_PORT=3306

# Express Server Port (Optional)
PORT=3000
